<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>You died</title>
    </head>
    <body>
    <form class="restart" action="/restart" method="post">
        <button type="submit" name="restart">restart</button>
    </form>
    </body>
</html>
