
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
    <form class="name" action="/name" method="post">
        <input type="text" name="name" value="">
        <button type="submit" name="button">Hatch!</button>
    </form>
    </body>
</html>
